<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <H1>Shop mart</H1>
    <h2>Order History</h2>

    <table align="center">
      <tr>
        <th>Order Name</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td>Lee tee</td>
        <td>01/1/2019</td>
        <td>20$</td>
      </tr>
    </table>
  </body>
</html>
